body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border-bottom: none;
    background-color: #1B6B93;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.logo a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.logo img {
    height: 48px;
    max-height: 64px;
    width: auto;
    display: block;
}
.brand  {
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);;
}
.logo .brand {
    color: #dddddd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #dddddd;
 
}

.join-btn {
    padding: 6px 18px;
    border: 1px solid #222;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

    transition: box-shadow 0.6s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.join-btn:hover {
    transition: background-color 0.6s;
    background-color: #363636;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.main-se


.main
{
  display: block; 
}

.box
{
  width: 65%; 
  margin: auto;  
  padding: 70px 10px;
  margin-bottom: 50px;
  display: flex; 
}

.box-main	
{
background-image: linear-gradient(to right, #164B60, #103544);
}

.desc, .desc1, .img
{
  width: 50%;  
}

.desc1
{
	background-color: white;
	padding: 25px 25px;
}

.about-img, .about-img2
{
width: 80%; 
height: 100%; 
border-radius: 30px;
}

.about-img2
{
margin-left: 20%;
}

.about-title
{
	font-size: 300%;
	font-weight: bold;
}

.title-desc
{
	font-size: 1rem;
	line-height: 1.5;
}

.values
{
width: 85%;
margin: auto;
}

.values-tab1, .values-tab2
{
	display: flex;
}

.values-list
{
	width: 30%;
	text-align: center;
	padding: 20px;
	color: white;
}

.values-logo
{
	width: 100px;
	height: auto;
	display: block;
margin-left: auto;
margin-right: auto;
}

#val-box1
{
	background-color: #0c3647;
}

#val-box2
{
	background-color: #104e6d;
}

#val-box3
{
	background-color: #379daa;
}

#val-box4
{
	background-color: #3B6131;
}

footer {
    width: 100%;
    background-color: #1d2a44;
    color: gray;
    height: 50px;
    display: flex;
    overflow:hidden;
}

.container {
    width: 100%; 
    max-width: 100%;
    padding: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 0 30px;
    margin: 0;
    font-size: 11px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
#copyright  {
    user-select: none;
}
