.main
{
  display: block; 
}

.box
{
  width: 65%; 
  margin: auto;  
  padding: 70px 10px;
  margin-bottom: 50px;
  display: flex; 
}

.box-main	
{
background-image: linear-gradient(to right, #164B60, #103544);
}

.desc, .desc1, .img
{
  width: 50%;  
}

.desc1
{
	background-color: white;
	padding: 25px 25px;
}

.about-img, .about-img2
{
width: 80%; 
height: 100%; 
border-radius: 30px;
}

.about-img2
{
margin-left: 20%;
}

.about-title
{
	font-size: 300%;
	font-weight: bold;
}

.title-desc
{
	font-size: 1rem;
	line-height: 1.5;
}

.values
{
width: 85%;
margin: auto;
}

.values-tab1, .values-tab2
{
	display: flex;
}

.values-list
{
	width: 30%;
	text-align: center;
	padding: 20px;
	color: white;
}

.values-logo
{
	width: 100px;
	height: auto;
	display: block;
margin-left: auto;
margin-right: auto;
}

#val-box1
{
	background-color: #0c3647;
}

#val-box2
{
	background-color: #104e6d;
}

#val-box3
{
	background-color: #379daa;
}

#val-box4
{
	background-color: #3B6131;
}
