*{
    font-family: Arial,Helvetica,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: montserrat, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #ffffff;
    color:#0f172a;
}


/* contact page */
.contact-main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background: url('') center/cover no-repeat;
}

.overlay{
    background-color: #164b60;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.overlay h1{
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 10px
}
.overlay p{
    width: 700px;
    font-size: 15px;
}

/* contact deets */
.contact-details {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    background: #ffffff;
    color: #000000;
}

.info-box {
    height: 250px;
    background: #28ABB9;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.info-box h3 {
    margin-top: 65px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
}

.info-box p {
    font-size: 14px;
    color: #0f172a;
}

/* contact form */
.contact-form-section {
    max-width: 1000px;
    width: 760px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 20px;
}

.contact-form-section h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #1d2a44;
}

.contact-form {
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 14px;
}

.contact-form textarea {
    min-height: 120px;
    resize: vertical;
}

.contact-form button {
    margin-top: 10px;
    padding: 12px;
    background: #4fc0d0;
    color: #1d2a44;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.contact-form button:hover{
    background-color: #1b6b93;
    color: #ffffff;
}

/* socials */
.contact-socials{
    color: #1d2a44;
    padding: 40px 20px;
    text-align: center;
    background-color: #ffffff;
}

.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 16px;
}


.social-icons a{
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 13px;
    color: #1d2a44;
    background: #4fc0d0;
}

.social-icons a:hover{
    background-color: #1b6b93;
    color: #ffffff;
}

/* nav */
.slide1 {
  margin: 0;
  border: 0;
  box-sizing: border-box; /*--This is used to remove the border of the background--*/
  padding: 8rem 4rem;
  background-image: url('assets/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; 
}

.tagline {
    font-size: 58px;
    color: #333;
    text-align: center;
    padding-top: 75px;
}

.p1 {
    font-size: 26.25px;
    width: 625px; 
    color: #333;
    text-align: justify;
    padding: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border-bottom: none;
    background-color: #1B6B93;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    
}

.logo a {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.logo img {
    height: 48px;
    max-height: 64px;
    width: auto;
    display: block;
}
.brand  {
    text-shadow: 3px 5px 6px rgba(0, 0, 0, 0.4);;
}
.logo .brand {
    color: #dddddd;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
    transition: color 0.3s;
}
.nav-links a:hover {
    color: #dddddd;
 
}

.join-btn {
    padding: 6px 18px;
    border: 1px solid #222;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

    transition: box-shadow 0.6s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.join-btn:hover {
    transition: background-color 0.6s;
    background-color: #363636;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.main-section {
    height: 600px;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0 1rem;    
    background-size: cover;
    background-position: center 20%;
    transition: 0.3s;
    font-size: 100px;
    flex: 1;
}

.main-section h1 {
     margin-top: 0; 
}

/* FOOTER */
footer {
    width: 100%;
    background-color: #1d2a44;
    color: gray;
    height: 50px;
    display: flex;
    overflow:hidden;
}

.container {
    width: 100%; 
    max-width: 100%;
    padding: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 0 30px;
    margin: 0;
    font-size: 11px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
#copyright  {
    user-select: none;
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #1d2a44;
    color: gray;
    height: 120px;
    display: flex;
    overflow:hidden;
}

.container {
    width: 100%; 
    max-width: 100%;
    padding: 0;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    padding: 0 30px;
    margin: 0;
    font-size: 11px;
}
.footer-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}
#copyright  {
    user-select: none;
}

.footer-icons {
    width: 30px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(0,0,0,0);
    color: rgb(96, 96, 172);
    cursor: pointer;
    
}
.footer-icons i{
    width: 100%;
    height: 100%;
}
.footer-socials {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.footer-socials a {
    color: #a0aec0; 
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}

.footer-socials a:hover {
    color: white;
    background-color: #1B6B93;
    transform: translateY(-3px);
            }


/* FOOTER*/
