body {
    margin: 0;
    background-color: lightgray;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    background-color: white;
}