body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: white;
}

.logo img {
    height: 28px;
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 22px;
}

.nav-links a {
    text-decoration: none;
    color: #222;
    font-size: 15px;
}

.join-btn {
    padding: 6px 18px;
    border: 1px solid #222;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #f7f7f7;
}

.main-section {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 0 1rem;    
    background-image: url('https://cdn.discordapp.com/attachments/1398916424314912872/1445331317494517863/image.png?ex=692ff52f&is=692ea3af&hm=7401966e05ff976f91c6d791e8e75e955c654cc186835beb5ef40ee142dd7350&'); 
    background-size: cover;
    background-position: center 20%;
    transition: 0.3s;
    font-size: 100px;
}

.main-section:hover{
    box-shadow: 5px 1px 25px 9px rgba(0,0,0,0.6);       
}